body{
    background: url(../images/Bingo-online-bingo-bin-go-poker-myglobalgames-my-global-games-bingoo-bingocams-1.jpeg) no-repeat;
    color: white;
     font-family: arial;
    font-weight: 400;
}